/* CSS Reset */

* {
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272822;
  color: white;
  height: 85px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  font-size: 1.6rem;
}

.content {
  font-family: 'Potta One', cursive;
}

.container{
  width: 50vw;
  margin: auto;
  padding: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  background: rgb(179, 163, 163);
}

.logo {
  padding: 0px 23px;
}

.logo img {
  width: 36px;
}

.toolbar-item button{
  cursor: pointer !important;
  color: black !important;
  border: 3px solid black !important;
  border-radius: 13px !important;
  padding: 5px !important;
}

